* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(238, 238, 238);
}

.game-image {
  height: 250px;
  background-position: center top;
  background-size: cover;
}

.container {
  max-width: 80rem;
  margin: 2rem auto 0 auto;
  padding: 2rem;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.card {
  background-color: #fff;
  box-shadow: 9px 9px 5px -6px rgba(0, 0, 0, 0.3);
}

.card-details {
  font-size: 1.5rem;
  padding: 1rem;
}

.card-details h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card-details p {
  font-size: 1.2rem;
}

.loader .loader-text {
  font-size: 2rem;
}
